#edit_companies {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    min-height: 700px;
    padding: 25px;
}
.company_display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.company_img_display {
    height: 100px;
    width: 150px;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.btn-company {
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}